* {
    border: 0;
    padding: 0;
    outline: 0;
    font-family: "Roboto";
  }
  
  body {
    background-image: url(/images/backcover.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }
  
  .main-div {
    margin: 50px 100px 50px 100px;
  }
  
  .nav-items {
    display: flex;
    color: #1f2873;
    column-gap: 30px;
    margin-left: 490px;
    margin-right: 510px;
    margin-top: -60px;
    font-size: 19px;
  }
  
  .signin-btn {
    display: flex;
    border-radius: 15px;
    margin-left: 1100px;
    margin-top: -45px;
    padding: 3px 10px;
    color: #ffffff;
    background: linear-gradient(90deg, #965cf2 0%, #ff8adc 100%);
  }
  
  h1 {
    margin-right: 850px;
    margin-left: 50px;
    margin-top: 190px;
    font-size: 70px;
    color: #3e4794;
  
  }
  
  .left-section h4 {
    display: flex;
    line-height: 25px;
    text-align: left;
    color: #3e4794;
    font-weight: 100;
    margin-top: 20px;
    margin-right: 940px;
    margin-left: 60px;
  }
  
  .imgs-div {
    display: flex;
    margin-top: -500px;
    margin-left: 309px;
  }
  
  .imgs-div .vector-img {
    display: flex;
    margin-top: 350px;
    margin-left: 120px;
  }
  
  .imgs-div .vector-dot {
    display: flex;
    margin-top: 270px;
    margin-left: -40px;
  }
  
  .learn-more-btn {
    background: linear-gradient(90deg, #965cf2 0%, #ff8adc 100%);
    color: #ffffff;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 50px;
    margin-left: 70px;
  }
  